extends ../../components/Page/template.pug

block args
  - pageTitle = 'Редактировать профиль';
  - pageDescription = '';
  - pageWide = true;

block scripts
  script(src='./index.ts', type='module')
