.u_visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.u_resetButton {
  appearance: none;
  border: 0;
  border-radius: 0;
  background: 0 0;
  padding: 0;
  text-align: left;
  color: inherit;
  overflow: visible;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }
}
