main.AuthForm
  h1.AuthForm_title.Heading= title
  form.AuthForm_form(method='POST', @submit)
    .AuthForm_fields
      each field in fields
        | !{ field }
    .AuthForm_actions
      button.AuthForm_submit.Button.Button-primary.Button-sizeLarge(
        type='submit'
      )= submitText
      a.AuthForm_link(href=link.to)= link.text
