extends ../components/Page/template.pug
include ../components/ErrorPage/template.pug

block args
  - pageTitle = 404;
  - pageDescription = 'Страница не найдена';
  - pageWide = true;

block content
  +ErrorPage({ code: 404, subtitle: 'Страница не найдена' })
