extends ../components/Page/template.pug
include ../components/ErrorPage/template.pug

block args
  - pageTitle = 500;
  - pageDescription = 'Всё сломалось';
  - pageWide = true;

block content
  +ErrorPage({ code: 500, subtitle: 'Всё сломалось' })
