include ../Icon/template.pug

-
  const classes = []
  if (error) classes.push('TextField-hasError')
  if (icon) classes.push('TextField-withIcon')
  if (size === 'small') classes.push('TextField-sizeSmall')

label.TextField(class=classes)
  if label
    span.TextField_label(class=size === 'small' ? 'u_visuallyHidden' : '')= label
  if icon
    span.TextField_icon: +Icon(icon, 22)
  input.TextField_input(type='text', @blur, @change, value=value)&attributes(attrs)

  span.TextField_error
    | !{ errorMessage }
