.NotificationBadge {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-accent);

  color: var(--color-fg-default);
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  font-weight: 500;
}
