-
  const userProfile = { 
    email: { name: 'Почта', value: 'pochta@yandex.ru' },
    login: { name: 'Логин', value: 'mylogin' },
    first_name: { name: 'Имя', value: 'Дмитрий' },
    second_name: { name: 'Фамилия', value: 'Иванов', },
    display_name: { name: 'Имя в чате', value: 'Дмитрий', },
    phone: { name: 'Телефон', value: '+7 (999) 888-77-66' }
  };
